<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <!--added in these max sizes to allow large lists to be receieved via Parrot Portal-->
                <binding name="BasicHttpEndpoint" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                  <!--<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                     maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />-->           
                  <security mode="TransportCredentialOnly">
                    <transport clientCredentialType="Basic" />
                  </security>
                </binding>
                <binding name="WindowsHttpEndpoint" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                  <!--<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                     maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />-->
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Portal/ProductInfo.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint"
                contract="WCF.ParrotProductInfo.IProductInfo" name="BasicHttpEndpoint" />
            <endpoint address="http://localhost/Portal/ProductInfo.svc/" binding="basicHttpBinding"
                bindingConfiguration="WindowsHttpEndpoint" contract="WCF.ParrotProductInfo.IProductInfo"
                name="WindowsHttpEndpoint" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="IsDevMode" value="false"/>
  </appSettings>
</configuration>