<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WindowsHttpEndPoint">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpEndPoint">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpEndPoint1">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpEndPoint2">
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://jhb-accountsrv.parrotproducts.biz/Portal/ProductInfo.svc"
                binding="basicHttpBinding" bindingConfiguration="WindowsHttpEndPoint"
                contract="WCF.ProductInfo.IProductInfo" name="WindowsHttpEndPoint" />
            <endpoint address="http://jhb-accountsrv.parrotproducts.biz/Portal/ProductInfo.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpEndPoint"
                contract="WCF.ProductInfo.IProductInfo" name="BasicHttpEndPoint" />
            <endpoint address="https://accounts.parrotproducts.biz/Portal/ProductInfo.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpEndPoint1"
                contract="WCF.ProductInfo.IProductInfo" name="BasicHttpEndPoint1" />
            <endpoint address="https://accounts.parrotproducts.biz/Portal/ProductInfo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpEndPoint2"
                contract="WCF.ProductInfo.IProductInfo" name="BasicHttpEndPoint2" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="IsDevMode" value="false"/>
  </appSettings>
</configuration>